

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
CSS RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------This is where the actual CSS begins------------------------*/

/*-------------------CSS for All Pages------------------------*/

html{
	overflow-y: scroll;
	/* zoom: 90%; */
}

body{
	background-color: white;
	min-width: 90%;.
	zoom: 0.8;
}

.heading{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 3.4375em; /*55px*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 500;
	/* width: 300px; */
	text-align: center;
}

.links{
	float: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 1000;
	/* font-style: bold; */
	display: inline-block;
	text-align: center;
	width: 300px;
	margin-top: 10px;
	color: white;
	font-size: 1.875em; /*30px*/
	background-color: rgb(50, 50, 50);
	margin-right: 3px;
	margin-bottom: 10px;
	text-decoration: none;
}

header{
	height: 200px;
	width: 1500px;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#buttons{
	height: 100px;
	width: 1500px;
	text-align: center;
	background-color: rgb(50, 50, 50);
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#resume{
	margin-top: 35px;
}

hr{
	width: 90%;
	margin-bottom: 25px;
}
footer{
height: 100px;
padding-top: 25px;
text-align: center;
margin: 0 auto;
font-family: Garamond, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
color: rgb(72, 81, 86);
font-size: 1.5em; /*24px*/
margin-bottom: 150px;
}

#SJQuote{
	font-style: italic;
	font-size: 1em; /*20px*/
	width: 1000px;
	margin: 0 auto;
	line-height: 1.5;
}

/*-------------------CSS for Home Page------------------------*/
picture{
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.intro{
	text-align: center;
	color: black;
	font-size: 2.25em; /*36px*/
	padding-top:24px;
}

/*-------------------CSS Quotes Page------------------------*/

#quoteDescriptionDiv{
  height: 400px;
  width: 1500px;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	font-family: Garamond, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 1.5625em; /*25px*/
	line-height: 1.7;
	margin-bottom: 50px;
}

#anthology{
	color:black;
}

.quotePicLeft{
	width: 1500px;
	height: 300px;
	border: dashed;
	border-color: blue;
	margin: 0 auto;
	margin-bottom: 75px;
}

.picLeft{
	float: left;
}

.textRight{
	float: right;
	width: 1250px;
	height: 300px;
}

.actualTextRight{
	padding: 10px;
	text-align: center;
	margin-top: 100px;
	font-size: 2.25em; /*36px*/
	line-height: 1.6;
	font-family: Garamond, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

.quotePicRight{
	width: 1500px;
	height: 300px;
	border: dashed;
	margin: 0 auto;
	border-color: red;
	margin-bottom: 75px;
}

.picRight{
	float: right;
}

.textLeft{
	float: left;
	width: 1250px;
	height: 300px;
}

.actualTextLeft{
	padding: 10px;
	text-align: center;
	margin-top: 100px;
	font-size: 2.25em; /*36px*/
	line-height: 1.6;
	font-family: Garamond, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

#janus{
	border-color: green;
}

#bottome{
	padding: 0px;
	padding-right: 5px;
	margin-top: 80px;
}

#bottomeText{
	width: 1305px;
}

#angelou2{
	padding: 0px;
	margin-top: 75px;
}

#anglouText{
	width: 1200px;
}

#copernicus{
	padding: 0px;
	margin-top: 75px;
}

/*-------------------CSS for About Page------------------------*/

.pictureAndBio{
	width: 1500px;
	height: 500px;
	position: relative;
	border: solid;
	border-color: green;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.5em; /*24px*/
	line-height: 1.6;
	font-family: Garamond, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

#otto{
	width: 333px;
	height: 500px;
	position: relative;
	float: left;
}

.bio{
	width: 1167px;;
	height: 360px;
	float: right;
}

.actualBio{
	padding: 10px;
	text-align: center;
	float: left;
}

#ethicsBowlCases{
	color:black;
}

#studCoFinances{
	color:black;
}
